<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Admin Profile</title>
    <a href ="/admin/products/get"> See all products </a><br>
    <a href="/admin/products/create">Create Product</a><br>
    <strong>Product Related Operations are attached with product list.</strong>(will be found in see all products)
  </head>
  <body>

  </body>
</html>
