<!doctype html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/login.css"> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
<hr>
<div class="container">
  <div class="row">
		<div class="main">
			<h3>Admin Login</h3>
      <form role="form" action="/admin" method="post">
        <div class="form-group">
          <label for="inputUsernameEmail">Email</label>
          <input type="text" class="form-control" id="inputUsernameEmail" name="username">
        </div>
        <div class="form-group">
          <label for="inputPassword">Password</label>
          <input type="password" class="form-control" id="inputPassword" name ="password">
        </div>
        <button type="submit" class="btn btn btn-primary">
          Log In
        </button>
      </form>

		</div>
	</div>
</div>
</body>
</html>
