<%if(!cart || cart.length==0) {%>
No Item Present In Cart<br>
<a href="/">Go Back to Home Page</a>
<%}else{ %>
  <p> Item Present In cart </P>
     <%for(i=0;i<cart.length;i++){ %>
    <a href="../products/<%=cart[i]%>"><%=cart[i]%></a>
    <a href="../cart/delete/<%=cart[i]%>">Delete from cart</a><br>

  <%}}%>
