<!doctype html>
<html>
<head>
	<title>Information</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
</head>
<body>
<div class="container">
	<div class="row text-center">
        <div class="col-sm-6 col-sm-offset-3">
        <br><br> <h2 style="color:#ff0000"></h2>
        <img src="/img/128x128.png">
        <h3 style="color:#ff0000"><%=info%></h3>
    <br><br>
        </div>

	</div>
</div>
</body>
</html>
