<!DOCTYPE html>
<html>
<body>

<form action="/admin/products/create" method = "POST">

  Product Name:<br>
  <input type="text" name="name"  placeholder="Enter Product Name">
  <br>
  Catagory:<br>
  <input type="text" name="catagory"  placeholder="Enter Product Catagory">
  <br>
  Product Description:<br>
  <input type="text" name="description" placeholder="Enter Product Description">
  <br>
  Image Url:<br>
  <input type="text" name="imagelink" placeholder="Insert Image Url">
  <br>
  In Stock:<br>
  <input type="text" name="stock"  placeholder="Enter the number of product in stock">
  <br>
  Price:<br>
  <input type="text" name="price"  placeholder="Price of the product">
  <br>

  <input type="submit" value="Submit">
</form>

</body>
</html>
